<IfModule mod_rewrite.c>
  RewriteEngine On
  # jeśli nie ma pliku ani katalogu, podaj index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>